node_modules
npm-debug.log
qwe.json
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.log
**/.vagrant/*
*.pem
*.bak
*gitignore*.tf
.DS_Store
.vscode/
.sentinel
*.lock*